a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  /* text-decoration: underline; */
  color: inherit;
}

#blyodo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.one-recipe {
  z-index: 7;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 70%;
}

.header-center {
  margin-left: auto;
  margin-right: auto;
}

.black-back {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(140, 140, 140, 2.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.ingridientList {
  display: inline-flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.ingridient {
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
}

.dishCard {
    width: 18rem;
    height: 27rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 5px grey;

}
.dishCard:hover {
  transform: scale(0.96);
}

.dishCard:hover {
  transform: scale(1.05);

}
  
.text-justify {
  text-align: justify;
}

.card-black {
  opacity: 0.6;
  width: 300px;
}

.btn-like {
  display: inline;
  width: 70px;
  border-radius: 50%;
  right: 0;
}

.one-card-js {
  max-width: 650px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 20px 20px grey;
}


.one-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ingridientTitle {
    display: flex;
    justify-content: center;
    font-weight: 800;
}