a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: inherit;
}

#blyodo {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  
}